body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 640px;
}

h1 {
    margin: 0 0 20px;
    text-align: center;
    color: #333;
}

.task-input {
    display: flex;
    justify-content: space-between;
}

.task-input input {
    flex: 1;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.task-input button {
    padding: 10px 15px;
    font-size: 16px;
    background: #28a745;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
    will-change: background-color;
}

.task-input button:hover {
    background: #218838;
}

#task-list {
    list-style: none;
    padding: 0;
    margin: 20px 0 0;
}

#task-list li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #f9f9f9;
    padding: 10px;
    border-bottom: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
    transition: background-color 0.3s ease, text-decoration 0.3s ease;
}

#task-list li.completed {
    text-decoration: line-through;
    background: #d4edda;
}

#task-list li button {
    background: none;
    border: none;
    cursor: pointer;
    margin-left: 10px;
    font-size: 18px;
}

#task-list li button.edit {
    color: #007bff;
}

#task-list li button.edit:hover {
    color: #0056b3;
}

#task-list li button.delete {
    color: #dc3545;
}

#task-list li button.delete:hover {
    color: #c82333;
}

button:focus {
    outline: 2px solid #0056b3;
    outline-offset: 2px;
}

footer {
    margin-top: 20px;
    text-align: center;
    font-size: 14px;
    color: #666;
}

#pagination-controls {
    margin-top: 20px;
    text-align: center;
}

#pagination-controls button {
    padding: 5px 10px;
    margin: 0 5px;
    font-size: 14px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#pagination-controls button:hover {
    background-color: #0056b3;
}

#pagination-controls button.active {
    background-color: #0056b3;
    cursor: default;
}


@media (max-width: 480px) {

    .task-input input,
    .task-input button {
        padding: 8px;
        font-size: 14px;
    }

    #task-list li {
        padding: 8px;
    }
}